<!-- Extend the base template index.html -->
{%extends "index.html"%}

<!-- Define the main content block -->
{% block mainContent %}

<!-- Jumbotron for the calculator heading -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-8">My Calculator</h1>
    </div>
</div>

<!-- Calculator form that submits to the calculate route -->
<form class="container" action="{{url_for('calculate')}}" method="post">
    <div class="row">
        
        <!-- Input field for the first number -->
        <div class="col-lg-2 col-md-3">
            <input type="number" name="firstNumber" class="form-control" placeholder="Insert First number" required>
        </div>

        <!-- Dropdown for selecting the operation -->
        <div class="col-lg-2">
            <select id="selectOperation" class="form-control" name="operation" required>
                <option value="">Select...</option>
                <option value="plus">+</option>
                <option value="minus">-</option>
                <option value="multiply">x</option>
                <option value="divide">/</option>
            </select>
        </div>

        <!-- Input field for the second number -->
        <div class="col-lg-2 col-md-3">
            <input type="number" name="secondNumber" class="form-control" placeholder="Insert Second number" required>
        </div>

        <!-- Submit button for the form -->
        <div class="col-lg-3">
            <input type="submit" value="calculate" class="btn btn-primary"/>
        </div>

        <!-- Placeholder for additional notes or messages -->
        <div class="col-lg-3">
            <div>{{note}}</div>

        </div>

    </div>

    <!-- Row to display the result -->
    <div class="row mt-3">
        <div class="col-lg-1">
            <div class="text-center">=</div>
        </div>

        <!-- Input field to display the calculation result -->
        <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Result" value="{{result}}"/>
        </div>

    </div>

</form>


{% endblock %}